extends ./layout.jade
block content
	section#main
		.container-fluid
			h1 Netflix Updater Guide
			p Here are the movies coming to Netflix this August
	section.movies
		ul.nav
			li.movie
				h3.title
					span Title
	footer.mainfooter